@page "/Register/nuevo"
@inject NavigationManager NavMan
@inject IJSRuntime JSx
@rendermode InteractiveServer
@using System.Text.Json

<PageTitle>Registrando...</PageTitle>

<center>
<h3>Introduzca los datos del accidente.</h3>
<i>
<p>(Fecha, descripción del accidente, costo, n. de muertos, n. de heridos y vehículos involucrados)</p>
</i>
</center>

<EditForm Model = "@Register" OnValidSubmit = "@GuardarRegistro">
    <DataAnnotationsValidator />

    <div class = "mb-3">
        <label for = "Fecha" class = "form-label">Fecha</label>
        <InputDate id = "Fecha" class = "form-control" @bind-Value = "@Register.Fecha" />
        <ValidationMessage For = "@(() => Register.Fecha)" />
    </div>

    <div class = "mb-3">
        <label for = "Descripcion" class = "form-label">Descripción</label>
        <InputTextArea id = "Descripcion" class = "form-control" @bind-Value = "@Register.Descripcion" />
        <ValidationMessage For = "@(() => Register.Descripcion)" />
    </div>

    <div class = "text-center">

        <button type = "submit" class = "btn btn-success">Guardar datos</button>
    </div>

</EditForm>

@code{

    private Reporte Register = new Reporte();

    List<Reporte> Registers = new List<Reporte>();

    private void GuardarRegistro(){

        Registers.Add(Register);

        //Código para almacenar en Local Storage (MUY importante)
        JSx.InvokeVoidAsync("localStorage.setItem", "Registers", JsonSerializer.Serialize(Registers));

        NavMan.NavigateTo("Register");
    }

    //Cargar datos existentes del localStorage.
    protected override async Task OnAfterRenderAsync(bool firstRender){

        if (firstRender){

            //Accede al localStorage.
            var Jsonregisters = await JSx.InvokeAsync<string>("localStorage.getItem", "Registers");

            if (Jsonregisters != null){

                Registers = JsonSerializer.Deserialize<List<Reporte>>(Jsonregisters);
                StateHasChanged();
            }
        }
    }
}